<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/html5reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&family=Josefin+Sans&family=Judson&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    
    <title>Julia Reel</title>
    <link rel="shortcut icon" type="image/jpg" href="static/images/favicon3.png"/>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="skip"><a href="#main">Skip to Main Content</a></div>
    <header>
        
        <div class="mainMenu">
            <div class="menu_logo">                
                <a href="index.html"><img src="static/images/logo_t.png" alt="Logo"></a>

            </div>
            <nav>
                <ul class="nav">
                    <li><a href="index.html">HOME</a></li>
                    <li class="dropdown">
                        <a class="dropbtn">PROJECTS</a>
                        <div class="dropdown-content">
                            <a href="myprojects.html">Project Portfolio</a>
                            <a href="boggle.html">Boggle</a>
                        </div>
                    </li>
                    <!-- <li><a href="gallery.html">INTERESTS</a></li> -->
                    <li><a class="current" href="contact.html">CONTACT</a></li>
                    <li><a target="_blank" href="/Julia-Reel-Resume.pdf">RESUME</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main id="main" >
        <div id="contact">
            <h1>Contact Me</h1>
       
         
            <div class="container" id="form">
                <form action="https://formspree.io/f/mknynwbq" method = "POST">
            
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name..">
            
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Your email..">
            
                <label for="subject">Subject Line</label>
                <input type="text" id="subject" name="subject" placeholder="Subject..">
            
                <label for="message">Message</label>
                
                <textarea id="message" name="message" placeholder="Message.." style="height:200px"></textarea>
            
                <input type="submit" value="Submit">
            
                </form>
            </div>

        </div>

    </main>
    <footer class="footer">
        <div class="footer__content">
          <div class="footer__logo">
            <img src="static/images/logo_t.png" alt="Logo">
          </div>
          <div class="footer__links">
            <h4>Quick Links</h4>
            <nav>
                <a href="index.html">Home</a>
                <a href="index.html#about">About</a>
                <a href="myprojects.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
          </div>
          <div class="footer__contact">
            <h4>Contact</h4>
            <p>Email: reel.julia@gmail.com</p>
            <p>Phone: +1 203-747-1179</p>
          </div>
          <div class="footer__social">

            <h4>Connect With Me</h4>
            <ul class="social-buttons">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/reelj/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                
                <li class="list-inline-item">
                    <a href="mailto:reel.julia@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>

            </ul>
          </div>
        </div>
        <div class="footer__bottom">
          <p>&copy; 2023 Julia Reel. All rights reserved.</p>
        </div>
      </footer>
    
</body>
</html>