<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/html5reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&family=Josefin+Sans&family=Judson&display=swap" rel="stylesheet">
    <title>Interests</title>
    <link rel="shortcut icon" type="image/jpg" href="images/favicon.png"/>
</head>
<body class="gallery_page">
    <div class="skip"><a href="#main">Skip to Main Content</a></div>
    <header>
        <div class="mainMenu">
            <div class="logo">
                <a href=index.html>Julia Reel</a>
            </div>
            <nav>
                <ul class="nav">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="myprojects.html">PROJECTS</a></li>
                    <li><a class="current" href="gallery.html">INTERESTS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a target="_blank" href="Julia-Reel-Resume.pdf">RESUME</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="main">

        <div id="cooking">

            <h1>My Interests</h1>
        
            <div class="cooking-section">
                
                <h2>Cooking</h1>
            
                <p>Recently, I have begun to enjoy cooking. Take a look
                        at some of my favorite meals that I've made recently! </p>
            
                
                <div class="gallery">
                    <div class="flip-card" id="flip-card-1">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/ShrimpSalad.jpg" alt="Shrimp Salad">
                            </div>
                            <div class="flip-card-back">
                                <h1>Shrimp Salad</h1>
                                <p> Garlic shrimp served over fresh arugula with avocado and a lemon vinaigrette</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-2">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/Carbonara.jpg" alt="Carbonara">
                            </div>
                            <div class="flip-card-back">
                                <h1>Pasta Carbonara</h1>
                                <p>Rachel Ray's recipe for creamy, rich carbonara served with spaghetti</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-3">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/FetaTomatoPasta.jpg" alt="Feta Tomato Pasta">
                            </div>
                            <div class="flip-card-back">
                                <h1>Feta Pasta</h1>
                                <p>Tik Tok-inspired feta tomato bake, served over rigatoni</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-4">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/BeefTacos.jpg" alt="Beef Tacos">
                            </div>
                            <div class="flip-card-back">
                                <h1>Korean Beef Tacos</h1>
                                <p>Asian-flavored beef coupled with crunchy cabbage, fresh cilantro, and avocado, topped with a sriracha-lime dressing</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-5">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/Piccata.jpg" alt = "Chicken Piccata">
                            </div>
                            <div class="flip-card-back">
                                <h1>Chicken Piccata</h1>
                                <p>Buttery lemony chicken piccata with rich capers, served over spaghetti and topped with fresh parsley</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-6">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/ShrimpTacos.jpg" alt="Shrimp Tacos">
                            </div>
                            <div class="flip-card-back">
                                <h1>Shrimp Tacos</h1>
                                <p>Shrimp tacos topped with avocado, crunchy cabbage, and a cilantro-lime cream sauce</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-7">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/AvoToast.jpg" alt="Avocado Toast">
                            </div>
                            <div class="flip-card-back">
                                <h1>Avocado Toast</h1>
                                <p>Mashed avocado on English muffins with over-easy eggs and sriracha on top</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-8">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/Salmon.jpg" alt="Garlic Salmon">
                            </div>
                            <div class="flip-card-back">
                                <h1>Garlic Salmon</h1>
                                <p>Lemon and garlic baked salmon served with white rice and roasted asparagus</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-9">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/halalchicken.jpg" alt="Halal Food Truck Chicken">
                            </div>
                            <div class="flip-card-back">
                                <h1>Halal Food Truck Chicken</h1>
                                <p>Middle Eastern chicken dish inspired by New York City's classic Halal food carts, topped with a rich white cream sauce and sriracha and served with roasted cauliflower.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-10">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/FetaChicken.JPG" alt="Feta Chicken">
                            </div>
                            <div class="flip-card-back">
                                <h1>Greek Feta Chicken</h1>
                                <p>Greek-style feta tomato chicken with rice pilaf and roasted asparagus</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-11">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/Huevos.jpg" alt="Huevos Rancheros">
                            </div>
                            <div class="flip-card-back">
                                <h1>Huevos Rancheros</h1>
                                <p>A classic mexican-inspired breakfast; runny eggs over tortillas with salsa and freshly shredded cheese</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="flip-card" id="flip-card-12">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./images/ShrimpCurry.jpg" alt="Shrimp Curry">
                            </div>
                            <div class="flip-card-back">
                                <h1>Shrimp Curry</h1>
                                <p>Coconut shrimp curry over basmati rice and topped with fresh cilantro</p>
                            </div>
                        </div>
                    </div>


                </div>


                </div>
            

        <!-- <div class="line">
        </div>

        <div class="dogs">
            <h1>My Dogs</h1>
            
            <p>I love all dogs, but my favorite two are my own: Queen Charlie and Mr. Murphy.</p>

            <div class="doggallery">
                <img src="./images/charlie.JPG" alt="Charlie">
                <img src="./images/murphy.JPG" alt="Murphy">
            </div>
            
            
            </div>
        </div> -->
    </main>

    <footer>
        <div class="row">
            <div class="about">
                <h1>About This Page</h1>
                    <p id=firstP>
                        This page was made as a final portfolio project for SI 339, 
                        taught by Dr. Van Lent, in the Fall of 2021.
                    </p>
                    <p id=thirdP>
                        &copy; Julia Reel 2021</p>
            </div>
            <div class="connect">
                <h1>
                    Connect With Me
                </h1>
                <p id=secondP>
                    <a class="center" href='https://www.linkedin.com/in/reelj'><button>LinkedIn Profile</button></a>
                </p>
        </div>
      </footer>
    
</body>
</html>