<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/html5reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&family=Josefin+Sans&family=Judson&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    
    <title>Julia Reel</title>
    <link rel="shortcut icon" type="image/jpg" href="static/images/favicon3.png"/>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="skip"><a href="#main">Skip to Main Content</a></div>
    <header>
        
        <div class="mainMenu">
            <div class="menu_logo">                

                <a href="index.html"><img src="static/images/logo_t.png" alt="Logo"></a>
            </div>
            <nav>
                <ul class="nav">
                    <li><a class="current" href="index.html">HOME</a></li>
                    <li class="dropdown">

                        <label for="projectsToggle" class="dropbtn">PROJECTS</label>
                        <input type="checkbox" id="projectsToggle">

                        <div class="dropdown-content">
                            <a href="myprojects.html">Project Portfolio</a>
                            <a href="boggle.html">Boggle</a>
                        </div>
                    </li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a target="_blank" href="{{ url_for('static', filename='Julia-Reel-Resume.pdf') }}">RESUME</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main id="main">
        <div class="intro-section">
            <img class='logo' src="static/images/logo_t.png" alt="Logo">

            <!-- <hr style="width: 100px; height: 1px; border:none;color:#333;background-color:#333;"> -->
            
            <div class="main_header">
                <p>
                    
                Welcome to my portfolio, highlighting my skills,
                experience, and projects as a data analytics graduate from University of Michigan.
                </p>
            </div>


            <ul class="social-buttons">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/reelj/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                
                <li class="list-inline-item">
                    <a href="mailto:reel.julia@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>

            </ul>
            
            </div>


            
            
        
            <div class="About" id="about">
                <h1>ABOUT ME</h1>
                
                <!-- <hr style="width: 100px; height: 1px; text-align: center;border:none;color:#333;background-color:#333;"> -->

            
                <div class="about_grid">
                    <div class="headshot">
                        <img src="static/images/myheadshot.jpeg" alt="headshot">

                    </div>
                    <div class="mainText">
                        
                        
                        <div id="aboutPara">
                            <p>Hello! My name is Julia, and I am a 2023 graduate of the 
                                University of Michigan, Ann Arbor.
                                This past April, I earned my Bachelor's of Science in Information 
                                (BSI) degree with a concentration on Information Analysis.
                            I am passionate about using technology and data to gather 
                                insights and develop solutions to complex problems. Throughout my studies at the 
                                University of Michigan, I have acquired numerous skills in a range of technologies including 
                                Python, C++, HTML/CSS, and R. In summer 2022, I joined Elevance Health (formerly 
                                Anthem Inc.) as a Data Analytics Intern in the Pharmacy Operations department, where I learned
                                and developed my skills in data and business analytics. In March 2024, I'm excited 
                                to join Accenture in the Chicago office as a Consulting Analyst 
                                in the Applied Intelligence division.
                            </p>
                        </div>
                    </div>
                    <div>

                    </div>

                    <div class="pbutton">
                        <a id="projects_button" href='myprojects.html'><button>MY PROJECTS</button></a>

                    </div>

                    
                </div>

                
            </div>

            <!-- <div class="line"></div> -->

            <div class="Skills">
                <h1> SKILLS & INTERESTS</h1>

                <h2> Some of the skills I have developed through my projects.</h2>
                
                
                <div class="skills_grid container reveal fade-left">

                    <div>
                        <img src="static/images/001-python.png" alt="python">
                        <h3>Python</h3>

                        <p>Programming language for data analysis; experienced with libraries such as pandas, NumPy, SciPy, matplotlib, seaborn, scikit-learn.</p>
                    </div>
                    <div>
                        <img src="static/images/006-coding.png">
                        <h3>R</h3>

                        <p>A programming language for statistical computing and graphics.</p>
                    </div>
                    <div>
                        <img src="static/images/003-sql-file-format.png">
                        <h3>SQL</h3>

                        <p>A standard language for database creation and manipulation. 
                            Skilled in SQL database design, normalization, and querying.
                        </p>
                    </div>
                    <div>
                        <img src="static/images/002-data-cleaning.png">
                        <h3>Data Cleaning and Manipulation</h3>
                        
                        <p>Preparing messy data for analysis and visualization; primarily
                            through Jupyter notebooks.
                        </p>
                    </div>

                    <div>
                        <img class="saturate" src="static/images/005-machine-learning.png">
                        <h3>Machine Learning</h3>
                        <p>Designing models that can predict trends and outcomes from past datapoints.</p>
                    </div>
                    <div>
                        <img src="static/images/004-bar-chart.png">
                        <h3>Data Visualization</h3>

                        <p>Turning numbers into a visually appealing story.</p>
                    </div>

                </div>
            </div>

            <div class="Experience">
                <h1>EXPERIENCE</h1>
                
                <div class="experience_grid">
                    
                    <div class="experiences shadow container reveal fade-bottom">
                    
                        <h4>Beginning March 2024</h4>
                        <h2> (Incoming) Consulting Analyst</h2>
                        <i class="fa fa-map-marker" style="color: #2784af8f;"></i>   Accenture, Chicago IL
                        <p>
                            Beginning in March 2024, I will be starting my corporate
                            career at Accenture in the Chicago office. 
                            I will be starting as a Consulting Analyst in the 
                            Consulting Development Program on the Applied Intelligence team.
                        </p>

                    </div>

                    <div class="experiences shadow container reveal fade-bottom">
                        <h4>January 2022 - August 2023</h4>
                        <h2>Media Assistant / Data Analyst</h2>
                        <i class="fa fa-map-marker" style="color: #2784af8f;"></i>   University of Michigan — Language Resource Center, Ann Arbor MI
                        <p>
                            I managed front-desk support for students and instructors, handling inquiries, room reservations, streaming requests, and overseeing material check-in/out. Provided essential tech support for LRC computing services, managing emails and maintaining the digital reservation catalog, contributing to overall efficiency.

                            Conducted data analysis for room and film reservation data in the center.

                        </p>
                    </div>

                    <div class="experiences shadow container reveal fade-bottom">
                        <h4>August 2022 - April 2023</h4>
                        <h2>Instructional Aide</h2>
                        <i class="fa fa-map-marker" style="color: #2784af8f;"></i>   University of Michigan — School of Information, Ann Arbor MI
                        <p>
                            As an Instructional Aide, I provided support to professors by managing course content and serving as a liaison between the 
                            teaching team and students. This involved reviewing, grading, and offering feedback on the homework and exams 
                            of an average of 40 students per week. Additionally, I took a hands-on approach by leading twice-weekly office hours, 
                            where I actively assisted students in enhancing their programming technique and efficiency. I was an Instructional 
                            Aide for SI 106 (an introductory coding/Python course) and SI 110 (Introduction to Information Studies).


                        </p>
                    </div>

                    <div class="experiences shadow container reveal fade-bottom">
                        <h4>June 2022 - August 2022</h4>
                        <h2>Pharmacy Data Analytics Intern</h2>
                        <i class="fa fa-map-marker" style="color: #2784af8f;"></i>   Elevance Health, Remote
                        <p>
                            During my internship at Elevance Health, I embarked on a project in which I designed a system aimed at identifying members exhibiting 
                            high use of controlled substances or opioid dependency behaviors. Additionally, I developed metrics to 
                            assess the success of existing products, discerning trends on a market-by-market basis. Utilizing SQL, 
                            I generated standard reports to deliver crucial insights to state agencies. Collaboration was a key aspect 
                            of my work, as I actively engaged with stakeholders, programming staff, and business analysts, employing 
                            agile and scrum methodology. This collaborative effort ensured the effective development and verification of 
                            project requirements, contributing to the successful functioning of systems.


                        </p>
                    </div>
                    
                </div>

                
            </div>
    

      <footer class="footer">
        <div class="footer__content">
          <div class="footer__logo">
            <img src="static/images/logo_t.png" alt="Logo">
          </div>
          <div class="footer__links">
            <h4>Quick Links</h4>
            <nav>
                <a href="index.html">Home</a>
                <a href="index.html#about">About</a>
                <a href="myprojects.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
          </div>
          <div class="footer__contact">
            <h4>Contact</h4>
            <p>Email: reel.julia@gmail.com</p>
            <p>Phone: +1 203-747-1179</p>
          </div>
          <div class="footer__social">

            <h4>Connect With Me</h4>
            <ul class="social-buttons">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/reelj/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                
                <li class="list-inline-item">
                    <a href="mailto:reel.julia@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>

            </ul>
          </div>
        </div>
        <div class="footer__bottom">
          <p>&copy; 2023 Julia Reel. All rights reserved.</p>
        </div>
      </footer>
      
      
    </div>

    <script>
        function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);

    </script>
</main>
      
</body>
</html>

