<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/html5reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&family=Josefin+Sans&family=Judson&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    
    <title>Julia Reel</title>
    <link rel="shortcut icon" type="image/jpg" href="static/images/favicon3.png"/>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="skip"><a href="#main">Skip to Main Content</a></div>
    <header>
        
      <div class="mainMenu">
          <div class="menu_logo">
              
              <a href="index.html"><img src="static/images/logo_t.png" alt="Logo"></a>

          </div>
          <nav>
              <ul class="nav">
                  <li><a href="index.html">HOME</a></li>
                  <li class="dropdown">
                      <a class="current" class="dropbtn">PROJECTS</a>
                      <div class="dropdown-content">
                          <a class="current" href="myprojects.html">Project Portfolio</a>
                          <a href="boggle.html">Boggle</a>
                      </div>
                  </li>
                  <!-- <li><a href="gallery.html">INTERESTS</a></li> -->
                  <li><a href="contact.html">CONTACT</a></li>
                  <li><a target="_blank" href="Julia-Reel-Resume.pdf">RESUME</a></li>
              </ul>
          </nav>
      </div>
  </header>

    <main id="main">
        <div id="projects">

            <h1>My Projects</h1>
    
            <div id="project-card-section">

              <section class="pcards">
                <article class="pcard pcard--1">

                  <div class="pcard__img"></div>
                  <a href="#genalliance" class="pcard_link">
                    <div class="pcard__img--hover"></div>
                  </a>


                  <div class="pcard__info">
                    <!-- <span class="pcard__class">EECS 183</span> -->
                    <h2 class="pcard__title" id="myBtn">Disease Matching Algorithm</h2>
                    <span class="pcard__dates">September 2022 - April 2023</span>
                  </div>
                
                </article>

                <div id="genalliance" class="overlay">
                  <div class="popup">
                    <a class="close" href="#">&times;</a>
                    <h3>Disease Matching Alogirithm: Senior Capstone Project</h3>
                    
                    <div class="content">
                      <p>
                        I collaborated closely with my teammates and engaged in external discussions with Genetic Alliance 
                        executives to transform a vast disease database into a practical and insightful representation, 
                        aiming to alleviate the challenges associated with cost, time, and the high 95% failure rate in 
                        disease research. I designed and implemented a sophisticated algorithm using Python and SQL. 
                        This algorithm effectively distilled and categorized a substantial dataset comprising 100 fields 
                        and 10,000 rows of information. The outcome was a weighted scoring system that facilitated the 
                        pairing of research groups with diseases aligned to their focus. Through this initiative, we 
                        sought to streamline research processes, enhance efficiency, and contribute to a more targeted 
                        and successful approach in the field of disease research.

                    </p>
                    </div>
                    
                  </div>
                </div>
                  
                <article class="pcard pcard--2">

                  <div class="pcard__img"></div>
                  <a href="#lrc" class="pcard_link">
                    <div class="pcard__img--hover"></div>
                  </a>

                  <div class="pcard__info">
                    <!-- <span class="pcard__class">EECS 280</span> -->
                    <h2 class="pcard__title">Resource Center Usage Analysis</h2>
                    <span class="pcard__dates">January - September 2023</span>
                  </div>
                </article>  

                <div id="lrc" class="overlay">
                  <div class="popup">
                    <h3>Language Resource Center: Film Reservations and Calendar Data Analysis</h3>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                      <p>While working for the University of Michigan's Language Resource Center, 
                        I conducted comprehensive analytics of two key datasets: Film Reservations and Calendar 
                        Data. Using the Film Reservation Data, I employed Python's Pandas library for 
                        data import and initial exploration, followed by meticulous data cleaning processes. 
                        This included course cleaning, handling missing data, and column renaming, ultimately 
                        leading to key summary numbers and in-depth insights into enrollment patterns, fair use 
                        versus licensed films, correlation analysis, course levels served, and duration and start 
                        month analysis. Subsequently, the Calendar/Room Reservation Data underwent a similar 
                        rigorous analysis, involving data import, cleaning, and exploration for multiple rooms. 
                        The key summary numbers and visualizations provided detailed information on total 
                        reservations, average reservation length, room-to-room comparisons, day-of-week analysis, 
                        and a heatmap illustrating room popularity. Collectively, the analysis of both datasets 
                        offers valuable insights into course enrollment, reservation distribution, and film usage 
                        trends, providing a foundation for informed decision-making and resource allocation in future 
                        semesters.

                    </p>
                    </div>
                    
                  </div>
                </div>
                  
                  <article class="pcard pcard--3">
                  <div class="pcard__info-hover">
                
                  </div>
                  <div class="pcard__img"></div>
                  <a href="#chicago" class="pcard_link">
                    <div class="pcard__img--hover"></div>
                  </a>

                  <div class="pcard__info">
                    <!-- <span class="pcard__class">EECS 280</span> -->
                    <h2 class="pcard__title">Chicago Crime Data</h2>
                    <span class="pcard__dates">March - April 2022</span>
                  </div>
                </article>  

                <div id="chicago" class="overlay">
                  <div class="popup">
                    <a class="close" href="#">&times;</a>
                    <h3>Analysis of Chicago Crime Data</h3>
                    
                    <div class="content">
                      I extracted data from online databases and employed data integration techniques, 
                      statistical quantitative analysis, and data exploration libraries in Python to delve 
                      into 7,520,000 rows of Chicago crime data spanning the last two decades. This extensive 
                      analysis involved a meticulous examination of patterns and trends within the dataset. 
                      Subsequently, I applied data visualization techniques to present the findings in a 
                      comprehensible manner, unveiling key insights into the dynamics and patterns of crime 
                      over the 20-year period. This process not only facilitated a deep understanding of the 
                      dataset but also allowed for the identification of significant trends that contribute 
                      to a more informed perspective on the evolving nature of crime in Chicago over time.

                    </div>
                    
                  </div>
                </div>


                <article class="pcard pcard--4">
                  <div class="pcard__info-hover">
                
                  </div>
                  <div class="pcard__img"></div>
                  <a href="#acled" class="pcard_link">
                    <div class="pcard__img--hover"></div>
                  </a>

                  <div class="pcard__info">
                    <!-- <span class="pcard__class">EECS 280</span> -->
                    <h2 class="pcard__title">ACLED Analysis</h2>
                    <span class="pcard__dates">March - April 2023</span>
                  </div>
                </article>  

                <div id="acled" class="overlay">
                  <div class="popup">
                    <a class="close" href="#">&times;</a>
                    <h3>Acled Data Analysis</h3>
                    
                    <div class="content">
                      
                      In my involvement with the ACLED (Armed Conflict Location & Event Data) project, 
                      I focused on the disaggregated data collection, analysis, and crisis mapping initiative. 
                      This project encompasses a vast dataset detailing political violence and disorder events
                       globally. The dataset I worked with specifically provided a non-aggregated summary of 
                       every event documented worldwide in 2022, consisting of 10,000 randomly selected data 
                       points. To efficiently manage and analyze this extensive dataset, I leveraged Pandas 
                       and Jupyter notebook. The initial step involved importing the large and intricate data 
                       as a CSV file into a Pandas dataframe, followed by an intensive data cleaning process 
                       to address inconsistencies and ensure accuracy.

                      For enhanced analysis, I extracted key information such as countries, regions, event
                      types, and disorder types from the data. Subsequently, I converted these details into 
                      integer IDs and manually inputted this information into DataGrip for streamlined database
                       management. The final step involved importing the cleaned events table back into DataGrip 
                       for further exploration and analysis. This comprehensive process of importing, normalizing, 
                       and cleaning the ACLED dataset was crucial for preparing the data for subsequent in-depth 
                       analyses and mapping activities within the context of global political violence and disorder 
                       events.

                    </div>
                    
                  </div>
                </div>



                <article class="pcard pcard--5">
                  <div class="pcard__info-hover">
                
                  </div>
                  <div class="pcard__img"></div>
                  <a href="#piazza" class="pcard_link">
                    <div class="pcard__img--hover"></div>
                  </a>

                  <div class="pcard__info">
                    <!-- <span class="pcard__class">EECS 280</span> -->
                    <h2 class="pcard__title">Piazza Machine Learning</h2>
                    <span class="pcard__dates">March - April 2021</span>
                  </div>
                </article>  

                <div id="piazza" class="overlay">
                  <div class="popup">
                    <a class="close" href="#">&times;</a>
                    <h3>Piazza Machine Learning</h3>
                    
                    <div class="content">
                      In my Piazza project on Machine Learning, I focused on implementing natural language processing 
                      and machine learning techniques to automatically identify the subject of posts within a 
                      question/learning platform. The project emphasized the mastery of Function Objects and Recursion, 
                      reinforcing skills acquired from previous projects such as Container ADTs, Dynamic Memory, 
                      The Big Three, Linked Lists, and Iterators. Throughout this endeavor, I gained hands-on 
                      experience in employing recursion, working with binary trees, utilizing templates, 
                      implementing comparators, and utilizing the map data structure. The ultimate goal was 
                      to create a program capable of parsing and comprehending Piazza posts, enabling it to 
                      accurately discern the subject matter. An  outcome of this project involved the 
                      program successfully interpreting a Piazza post and determining its relevance to a 
                      specific subject, demonstrating the practical application of natural language processing 
                      and machine learning in solving challenges related to information extraction and classification.

                    </div>
                    
                  </div>
                </div>
                
            </section>


            </div>

            
        </div>

    </main>

    <footer class="footer2">
      <div class="footer__content">
        <div class="footer__logo">
          <img src="static/images/logo_t.png" alt="Logo">
        </div>
        <div class="footer__links">
          <h4>Quick Links</h4>
          <nav>
            <a href="#">Home</a>
            <a href="#">Portfolio</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
          </nav>
        </div>
        <div class="footer__contact">
          <h4>Contact</h4>
          <p>Email: reel.julia@gmail.com</p>
          <p>Phone: +1 203-747-1179</p>
        </div>
        <div class="footer__social">

          <h4>Connect With Me</h4>
          <ul class="social-buttons">
              <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/reelj/">
                      <i class="fa fa-linkedin"></i>
                  </a>
              </li>
              
              <li class="list-inline-item">
                  <a href="mailto:reel.julia@gmail.com">
                      <i class="fa fa-envelope"></i>
                  </a>
              </li>

          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p>&copy; 2023 Julia Reel. All rights reserved.</p>
      </div>
    </footer>

      <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
    
  </body>
  </html>